<!DOCTYPE html>
<html>
  <head>
    <title>Row Series Overall Leaderboard</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" />
  </head>
  <body>
    <h1><%= title %></h1>
    <div id="wrapper"></div>
    <script type="module" src="javascripts/script.js"></script>
  </body>
</html>
