<!DOCTYPE html>
<html>
    <head>
        <title>Rowd Royalty 2023 Leaderboard</title>
        <link rel="stylesheet" href="/stylesheets/stronger.com.css" />
    </head>
    <body>
        <h1>Rowd Royalty 2023</h1>
        <div id="wrapper"></div>
        <script type="module" src="javascripts/rowd-royalty-2023.js"></script>
    </body>
</html>
