<!DOCTYPE html>
<html>
    <head>
        <title>Row Series Overall Leaderboard</title>
        <link rel="stylesheet" href="/stylesheets/stronger.com.css" />
        <link rel="stylesheet" />
    </head>
    <body>
        <h1>Row Series XII</h1>
        <div id="wrapper"></div>
        <script type="module" src="javascripts/rowseries-2022.js"></script>
    </body>
</html>
