body {
    padding: 0;
    margin: 0;
    font: 14px -apple-system, BlinkMacSystemFont, Helvetica Neue, Segoe UI,
        Tahoma, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Open Sans,
        sans-serif;
    background: #111;
    --smallText: 11px;
    --mediumText: 13px;
    --padding: 10px;
}

@media screen and (min-width: 680px) {
    body {
        --smallText: 12px;
        --mediumText: 15px;
        --padding: 20px;
    }
}

* {
    box-sizing: border-box;
}

h1 {
    padding: var(--padding);
    font-size: 19px;
    color: #eee;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-weight: 800;
}

.tableWrapper {
    width: 100%;
    overflow-x: scroll;
    margin-top: 10px;
}
.table {
    display: table;
    border-collapse: collapse;
    min-width: 100%;
}

.header-Wrapper {
    display: contents;
}

.categoryFilters,
.subCategoryFilters,
.rounds {
    display: inline-flex;
    align-items: center;
    max-width: 100%;
    overflow-x: auto;
    align-items: stretch;
    justify-content: flex-start;
    overflow-x: auto;
    width: 100%;
    white-space: nowrap;
    padding-left: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid rgb(255 255 255 / 5%);
}

.subCategoryFilters {
    border-bottom: none;
}

.categoryFilters::-webkit-scrollbar {
    display: none;
}

.categoryFilters a,
.subCategoryFilters a,
.rounds a {
    text-align: center;
    min-width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 700;
    font-size: var(--smallText);
    flex-wrap: nowrap;
    flex: 0 0 auto;
    padding: 5px 15px;
    position: relative;
    color: #ddd;
}

a.fvw {
    text-transform: none;
}

a[disabled] {
    opacity: 0.3;
    cursor: default;
}

.categoryFilters a:after,
.subCategoryFilters a:after,
.rounds a:after {
    content: "";
    inset: 5px;
    position: absolute;
    background: #3d3d3d;
    border-radius: 22.5px;
    z-index: -1;
}

.categoryFilters a.active,
.subCategoryFilters a.active,
.rounds a.active {
    color: #000;
}

.categoryFilters a.active:after,
.subCategoryFilters a.active:after,
.rounds a.active:after {
    background: #37dada !important;
    color: #222;
}

.categoryFilters a.active:after {
    opacity: 0.9;
}

.subCategoryFilters a.active:after {
    opacity: 0.8;
}

.row {
    display: table-row;
    background: rgb(255 255 255 / 15%);
}
.row.tdr {
    background: #105151 !important;
}

.header.row {
    box-shadow: 0;
    background: rgb(255 255 255 / 15%);
    color: white;
    height: 45px;
    position: sticky;
    top: 0;
}

.cell {
    display: table-cell;
    padding: 13px 10px;
    overflow: hidden;
}

.score-Summary,
.cell-Summary {
    border-right: 1px solid #111;
}
.cell-Overall {
    min-width: 70px;
}
.row:nth-child(odd) {
    background: rgb(255 255 255 /10%);
}
.header .cell {
    font-size: var(--smallText);
    text-transform: uppercase;
    font-weight: 700;
    line-height: 35px;
}

.cell.name {
    max-width: 140px;
    position: relative;
}
.cell:first-child {
    padding-left: 10px;
}
.cell:last-child {
    padding-right: 10px;
}
.cell.name p {
    font-weight: bold;
}
.cell p {
    font-size: var(--mediumText);
    white-space: nowrap;
    margin: 0;
    line-height: 1.3;
    color: #fff;
}
.cell span {
    font-size: var(--smallText);
    color: #aaa;
}

.tdr .cell span {
    color: #80d1d1;
}
.cell.adjusted span {
    color: red;
}
.cell.name span:before {
    width: 2px;
    background: var(--catColour);
    display: block;
    content: "";
    border-radius: 1px;
    position: absolute;
    left: 2px;
    top: 17px;
    bottom: 17px;
}
.sort {
    cursor: pointer;
}
.sort-Active {
    font-weight: 700;
    color: black;
    background: #37dada;
    position: relative;
}
.sort-Active:after {
    content: " ⌝";
    transform: rotate(135deg);
    font-size: 22px;
    position: absolute;
    bottom: 17px;
}
