body {
  padding: 3vw;
  font: 14px monospace, Helvetica, Arial, sans-serif;
}

#wrapper {
    width: 100%;
    overflow-x: auto;
}

.row {
    width: 100%;
    display: grid;
    grid-auto-columns: 100px;
}