body {
    padding: 0;
    margin: 0;
    padding-top: 3vh;
    font: 14px -apple-system, BlinkMacSystemFont, Helvetica Neue, Segoe UI,
        Tahoma, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Open Sans,
        sans-serif;
}

h1 {
    padding-left: 5vw;
}

.table {
    width: 100%;
    overflow-x: auto;
    display: table;
    border-collapse: collapse;
}

.header-Wrapper {
    display: contents;
}

.filters,
.rounds {
    padding: 0 5vw;
    height: 45px;
    display: inline-flex;
    align-items: center;
    max-width: 100%;
    overflow-x: auto;
    align-items: stretch;
    margin-bottom: 10px;
}

.filters a,
.rounds a {
    white-space: nowrap;
    margin-right: 10px;
    background: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    border-radius: 5px;
    cursor: pointer;
}

.filters a.active,
.rounds a.active {
    background: #1c9797 !important;
    color: white;
}

.row {
    display: table-row;
}
.row.tdr {
    background: #c5ebeb !important;
}

.header.row {
    box-shadow: 0;
    background: #555;
    color: white;
    height: 45px;
    position: sticky;
    top: 0;
}

.cell {
    display: table-cell;
    padding: 10px;
    overflow: hidden;
}

.score-Summary,
.cell-Summary {
    border-right: 1px solid #444;
}
.cell-Overall {
    min-width: 80px;
}
.row:nth-child(even) {
    background: #f2f2f2;
}
.header .cell {
    font-size: 15px;
    line-height: 35px;
}

.cell.name {
    max-width: 150px;
    position: relative;
}
.cell:first-child {
    padding-left: 5vw;
}
.cell:last-child {
    padding-right: 5vw;
}
.cell.name p {
    font-weight: bold;
}
.cell p {
    font-size: 16px;
    margin: 0;
    line-height: 1.6;
}
.cell span {
    font-size: 12px;
    color: #757575;
}
.cell.name span:before {
    width: 3px;
    background: var(--catColour);
    display: block;
    content: "";
    border-radius: 1px;
    position: absolute;
    left: 2px;
    top: 13px;
    bottom: 9px;
}
.sort {
    cursor: pointer;
}
.sort-Active {
    font-weight: 700;
    color: white;
    background: #1c9797;
    position: relative;
}
.sort-Active:after {
    content: " ⌝";
    transform: rotate(135deg);
    font-size: 22px;
    position: absolute;
    bottom: 13px;
}
