body {
  padding: 3vw;
  font: 14px monospace, Helvetica, Arial, sans-serif;
}

#wrapper {
    width: 100%;
    overflow-x: auto;
    display: table;
}

.row {
    display: table-row;
}

.cell {
    display: table-cell;
    padding: 10px;
}
.cell-Name {
    max-width: 150px;
}
.cell-Div {
    display: none;
}